* {
    outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 1200px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li a {
    padding: 10px;
    font-size: 18px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.herotext {
    display: flex;
    flex-direction: column;
}

.herobutton {
    color: #F9FAF8;
    align-self: flex-start;
    font-weight: 600;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
}

.herotext p {
    font-size: 18px;
    color: #F9FAF8;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.infocard {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: solid 1px #1F2937;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5e7eb;
    height: 600px;;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 800px;
}

.thor {
    margin: 0px
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.ctachild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding: 30px 60px 30px 60px; 
    background-color: #3882f6;
}

.ctabutton {
    color: #F9FAF8;
    font-weight: 600;
    background-color: #3882f6;
    border: 1px solid #F9FAF8;
    border-radius: 3px;
    padding: 5px 20px;
}

/* font styling */

h1 {
    font-size: 49px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h4 {
    margin: 0px;
    color: #F9FAF8;
    font-weight: 900;
}

h5 {
    margin: 0px;
    color: #F9FAF8;
    font-weight: 400;
}

h6 {
    color: #F9FAF8;
    font-weight: 400;
}